<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connection.next.infantree" >
    <user-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <user-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service
            android:name=".network.SyncDataService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.connection.next.infantree.network.SyncDataService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider
            android:name=".provider.InfantreeProvider"
            android:authorities="com.connection.next.infantree.provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.connection.next.infantree.provider.READ"
            android:writePermission="com.connection.next.infantree.provider.WRITE" />


        <activity
            android:name="com.connection.next.infantree.home.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".photos.AllPhotosActivity"
            android:label="AllPhotosActivity" >
            <intent-filter>
                <action android:name="com.connection.next.infantree.photos.AllPhotosActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".photos.FullImageActivity"
            android:label="FullImageActivity" >
            <intent-filter>
                <action android:name="com.connection.next.infantree.photos.FullImageActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".diary.SeeDiaryActivity"
            android:label="SeeDiaryActivity" >
            <intent-filter>
                <action android:name="com.connection.next.infantree.diary.SeeDiaryActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
